@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #081b31; 
    color:  white;
    height: 75px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto',sans-serif;
}

nav ul{
    list-style-type:none;
}

.gameContainer{
  display: flex;
  background-color: #f2eff4;
  justify-content: center;
  margin-top: 50px;
}

.container{
    display :grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family:'Roboto',sans-serif;
    position:reative; 
}

.box{
    border: 2px solid rgb(27, 26, 27);
    font-size: 8vw;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items:center;
}
 
.box:hover{
    background-color:rgb(244, 203, 40);
}

.info{
font-size:25px;
}

.gameInfo{
    padding:0 34px ;
}

.imgbox img{
    width : 0;
    transition:width 1s ease-in-out;
}

.br-0{
    border-right :0;
}
 
.bl-0{
    border-left:0;
}

.bb-0{
    border-bottom:0;
}

#reset{
    margin:0 23px;
    padding: 6px 34px;
    background:  #9fa6a0;
    border-radius: 6px;
    cursor: pointer;
    font-family:'Ubuntu',sans-serif;
    font-size:15px;
    font-weight:bolder;
}

.line{
    background-color:black;
    width: 0;
    height: 3px;
    position:absolute;
    background-color: blueviolet;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 800px) {
     .gameContainer{
        flex-wrap:wrap;
     }
     .gameInfo{
        margin-top:34px;
     }
     .gameInfo h1{
        font-size: 2.5rem;
     }
     .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns:repeat(3, 20vw);
     }
}